/*
*   Cevichef
+   Author: Stuard Quiroz C
*   Description: Pagina web de una cevicheria
*   Version: 1.0
*
*/

/* Typography */
html {
    font-size: 18px;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
h2 {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    line-height: 42px;
    font-weight: 100;
}
h3 {
    font-size: 32px;
    line-height: 20px;
    font-weight: 500; 
}
h4{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
}

h1:first-child,
h2:first-child,
h3:first-child {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    line-height: 20px;
}

a {
    text-decoration: none;    
}

/****************
General
****************/
:root { 
    /* color */
    --color-white: #FFF;
    --color-black: #000; 
    
    /* background */
    --primary-background: #f5c019;
    --secondary-background: #d9d9d9;
    --tertiary-background:  #C1C0C0;
    --quaternary-background: #000;
    --quintary-background: #FFF;
}

*,
*:after,
*::after,
*:before,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
figure  {
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* header */ 
.menu_bar {
	display:none;
}
header {
    width: 100%;
    background: var(--quaternary-background);
}
.heav img{
    width: 220px;
    height: 40px;
}
.heav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 115px;
}
.heav figure{
    
    align-self: center;
}
header nav {
	background: var(--quaternary-background);
	z-index:1000;
}
header nav ul {
    list-style:none;
}
header nav ul li {
	display:inline-block;
	position: relative;
}
header nav ul li:hover {
	background: var(--primary-background);
}
header nav ul li a {
	color: var(--color-white);
	display:block;
	text-decoration:none;
    padding: 15px;
    text-transform: uppercase;
}
header nav ul li a span {
	margin-right:10px;
}
header nav ul li:hover .children {
	display:block;
}
header nav ul li .children {
	display: none;
	position: absolute;
	width: 150%;
	z-index:1000;
} 
header nav ul li .children li a {
	display: block;
}
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

/* Container */
.main-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

/* Section-Title */
.main-section-title{
    background: var(--tertiary-background);
}
.section-title{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section-Personal */
.main-personal{
    background: var(--secondary-background);
}
.personal {
    min-height: 700px;
    display: flex;
    flex-direction: row-reverse;
}
.personal figure {
    max-width: 580px;
    width: 49.152542373%;
    align-self: center;
    padding-left: 70px;
}
.personal img{
    width: 500px;
    border-radius: 50%;
}
.personal .personal-description{   
    width: 49.152542373%;  
    display: flex;
    align-items: center;
}
.personal-description div{
    max-width: 500px;   
}
.personal li{
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.3;
}
.personal h4{
    margin-bottom: 10px;
}


/* Section-Ceviche-Mixto */
.main-ceviche-mixto{
    background: var(--tertiary-background);
}
.ceviche-mixto {
    min-height: 400px;
    display: flex;
}
.ceviche-mixto figure {
    max-width: 580px;
    width: 49.152542373%;
    align-self: center;
}
.ceviche-mixto img{
    width: 500px;
    border-radius: 50%;
}
.ceviche-mixto .ceviche-description{
    width: 49.152542373%;  
    display: flex;
    align-items: center;
    padding-left: 100px;    
}
.ceviche-description div{
    max-width: 500px;    
}


/* Section-Leche-Tigre */
.main-leche-tigre{
    background: var(--secondary-background);
}
.leche-tigre {
    min-height: 400px;
    display: flex;
    flex-direction: row-reverse;
}
.leche-tigre figure {
    max-width: 580px;
    width: 49.152542373%;
    align-self: center;
    padding-left: 70px;
}
.leche-tigre img{
    border-radius: 50%;
}
.leche-tigre .leche-description{   
    width: 49.152542373%;  
    display: flex;
    align-items: center;
}
.leche-description div{
    max-width: 500px;
}


/* Section-Historia */
.main-historia{
    background-color: var(--primary-background);
}
.historia{
    min-height: 540px;
    display: flex;
}
.historia figure {
    max-width: 448px;
    width: 37.9661016949%;
    align-self: center;
}
.historia .historia-description{
    max-width: 732px;
    width: 65.4237288136%;  
    display: flex;
    align-items: center;
}
.historia-description div{
    max-width: 605px;
    padding-left: 58px; 
}
.historia-description h2{
    text-align: center;
}
.historia-description p{
    text-align: justify;
}


/* Section-Title */
.main-carta{
    background: var(--primary-background); 
}
.title-section{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 80px;
}
.title-section h2{
    font-size: 50px;
}


/* Section-Contacto */
.map-google {
    width: 100%;
    height: 600px;
    outline:1px solid #000; 
}
.main-contacto{
    background-color: var(--primary-background);
}
.contacto{
    padding-bottom: 30px;
}



/* Imagen-Whatsapp */
.whatsapp a {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.whatsapp img{
    border-radius: 50%;
}



/* Footer-Container */
.footer-columna{
    text-align: center;
}
.footer-container {
    width: 100%;
    background: var(--quintary-background);
    background-image:   linear-gradient(0deg, #000 0%, #FFF 100%), 
                                url("../img/backfondo.jpg");
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
	color: var(--color-white);
}
.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
}
.footer-columna figure{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.footer-main .footer-columna {
	width: calc(100% / 3);
}
.footer-main .footer-columna:nth-child(2) {
	padding: 0 20px;
}
.footer-main .footer-columna h3 {
	font-size: 32px;
	color: var(--color-white);
    margin-bottom: 20px;
    line-height: 1;
}
.footer-main .footer-columna input[type="email"] {
	border: none;
	width: 100%;
	border: 1px solid #00C6EE;
	font-size: 14px;
	padding: 10px;
	font-family: Raleway;
}
.footer-main .footer-columna input[type="submit"] {
	border: none;
	background: #00C6EE;
	color: #fff;
	padding: 10px 40px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
	font-family: Raleway;
}
.footer-main .footer-columna span p {
    display: inline-block;
    margin-left: 5px;
    margin-top: 0px;
	margin-bottom: 15px;
	font-family: Raleway;
}



/* Footer */
.footer-copy-redes {
	width: 100%;
	background: var(--quaternary-background);
}
.main-copy-redes {
	width: 98%;
	max-width: 1000px;
	padding: 25px 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.main-copy-redes .footer-copy {
	width: 70%;
	color: var(--color-white);
}
.main-copy-redes .footer-redes {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main-copy-redes .footer-redes a {
	display: inline-block;
	text-decoration: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius:50%;
	background: var(--quintary-background);
	color: var(--color-black);
	text-align: center;
}



/****************
Media Querie
****************/
@media screen and (max-width: 800px) {
    body {
		padding-top:80px;
    }
    /* Header */
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
        top:0;
        left:0;
		background: crimson;
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: var(--color-white);
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
    }

	.menu_bar span {
		float: right;
		font-size: 40px;
	}
	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
    }
    .heav{
        align-items: unset;
        justify-content: center;
    }
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
	header nav ul li a {
		display: block;
	}
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
    }



    /* Section-Title */
    .section-title h1{
        font-size: 34px;
    }
    
    /* Section-Historia */
    .historia{
        flex-direction: column-reverse;
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .historia figure {
        align-self: center;
    }
    .historia-description div {
        padding-left: 0;
    }
    .historia .historia-description {
        width: 100%;
    }
    .historia-description div {
        max-width: initial;
    }

    /* Section-Personal */
    .personal {
        flex-direction: column-reverse;
        padding-top: 80px;
    }
    .personal figure {
        padding-top: 30px;
        padding-bottom: 30px;
        align-self: center;
        padding-left: 0;
    }
    .personal-description div {
        padding-left: 0;
    }
    .personal .personal-description {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .personal-description div {
        max-width: initial;
        width: 100%;
        
    }

    /* Section-Ceviche */
    .ceviche-mixto {
        flex-direction: column-reverse;
        padding-top: 80px;
    }
    .ceviche-mixto figure {
        padding-top: 30px;
        padding-bottom: 30px;
        align-self: center;
    }
    
    .ceviche-mixto .ceviche-description {
        width: 100%;
        padding-left: 0;
        text-align:center;
    }
    .ceviche-description div {
        max-width: initial;
    }

    
    /* Section-Leche-Tigre */
    .leche-tigre {
        flex-direction: column-reverse;
        padding-top: 80px;
    }
    .leche-tigre figure {
        padding-top: 30px;
        padding-bottom: 30px;
        align-self: center;
        padding-left: 0;
    }
    
    .leche-tigre .leche-description {
        width: 100%;
        padding-left: 0;
        text-align:center;
    }
    .leche-description div {
        max-width: initial;
    }
    
}



@media screen  and (max-width: 750px) {

    /* Section-Footer-Container */
	.footer-main .footer-columna {
		padding: 0 10px;
	}

	.footer-main .footer-columna h3 {
        font-size: 28px;
        line-height: 1.2;
	}

	.footer-main .footer-columna p {
		font-size: 14px;
	}
}



@media screen  and (max-width: 640px) {

    /* Section-Footer-Container */
	.footer-main {
		padding: 10px 0;
	}

	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}

	.footer-main .footer-columna span {
		display: block;
	}
    
    /* Footer */
	.main-copy-redes .footer-copy {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.main-copy-redes .footer-redes {
		width: 80%;
		margin: auto;
	}

}





